*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.212);
    height: 50vh;
}
.lottie{
    background-color: rgba(0, 0, 0, 0.363);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{color: aqua;}

body{
background-image:url(https://i.pinimg.com/originals/1c/a0/7b/1ca07b08cdc39d3cd272b77c2fa8999a.gif) ;background-size: cover;background-repeat:no-repeat;margin:0 ;height: 100vh;}
button{font-family: 'Russo One', sans-serif;color: aquamarine;background-position: 14cqb;background-color:rgba(0, 0, 0, 0.507);border-color: blueviolet;}
h1{font-family: 'Courgette', cursive;color: aliceblue;}